
<nav class="navbar navbar-dark bg-dark">

    <div class="container-fluid " >
        <button type="button" class="btn btn-light" routerLink="">Home</button>
        <button type="button" class="btn btn-warning mt-2" style="margin-left: 1000px;"  routerLink="/add-action">Add Action</button>
        <button type="button" class="btn btn-warning  mt-2 "  routerLink="/actions">Actions List</button>


    </div>
  </nav>
  <div style="background-color: rgb(210, 245, 233); width: 100%;">
  <section >
  <div class="home">
    <h1>This is home page </h1>
    <h2 style="margin-top: 20px;;margin-left:120px">Choose your next event</h2>
  </div>
</section>
</div>